body {
	background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%
	margin: 0% 0% 0% 0%;
    font-family: Oxygen Mono, tahoma, verdana;
    font-size: 15px;
}

.logo {
    background: rgba(90, 48, 8, 0.5);
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 0;
    border-bottom: solid 3px rgba(117, 73, 23, 0.5);
    border-right: solid 3px rgba(117, 73, 23, 0.5);
    border-left: solid 3px rgba(117, 73, 23, 0.5);
    border-top: solid 3px rgba(117, 73, 23, 0.5);
    text-align: center;
    position: relative;
    z-index: 0;
    top: 0;
}
.logo img{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    width: 55%;
    height: 55%;

}


.fotorama {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
}


